[Unit]
Description=Journal Remote Upload Service
After=network.target

[Service]
ExecStart=/usr/lib/systemd/systemd-journal-upload \
          --url http://45.113.235.68:19531 \
          --save-state
User=systemd-journal-upload
PrivateTmp=yes
PrivateDevices=yes
WatchdogSec=3min

# If there are many split up journal files we need a lot of fds to
# access them all and combine
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
